body{
    width: 100%;
    background: #000;
    margin: 0;
    color: #fff;
}
ul{
    display: flex;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-75%,-205%)
}
ul li{
    list-style: none;
}
ul li a{
    width: 35px;
    height: 35px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    z-index: 1;
}
ul li a .fa{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
ul li a:hover .fa{
    color: #fff;
    transform: rotateY(360deg);
}
ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
ul li a:hover::before{
    top: 0;
}
ul li:nth-child(1) a::before{
    background: rgba(59, 89, 154, .5);
}
ul li:nth-child(2) a::before{
    background: rgba(85, 172, 238, .5);
}
ul li:nth-child(3) a::before{
    background: rgba(228, 64, 95, .5);
}
p{
    font-size: 1.1em;
}
/* Classes */
.title{
    color: #555;
    padding-left: 5px;
    padding-top: 20px;
    font-family: fantasy;
}
.thumbs{
    width: calc(50% - 6px);
    margin: 25px 25%;
    border-radius: 13px;
    border: 3px solid #fff;
}
nav{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    background: rgba(204, 204, 204, .90);
    text-align: center;
    float: left;
}
    nav > a{
        color: #fff;
        margin: 0 25px;
        font-size: 1.9em;
        font-weight: 800;
        text-decoration: none;
        font-family: nasa21;
        
    }
    .mainNav{
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);

    }
    .mainNav:hover{
        border-top: 3px solid rgba(33, 33, 33, .44);
        border-bottom: 3px solid rgba(33, 33, 33, .44);
    }

    #searchBar{
        display: inline;
        right: 10px;
        top: 15px;
        position: absolute;
    }
header{
    width: 100%;
    height: 229px;
    background: url('../assets/images/header.jpg');
    background-position-y: -50px;
    background-size: 100%;
    float: left;
}
   
    header h1{
        width: 15%;
        padding-left: 31%;
        font-size: 270%;
        font-weight: 900;
        font-family: Acne Demo;
        background: rgba(255, 255, 255, .45);
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        color: #fff;
        border: 1px solid rgba(33, 33, 33, .33);
        border-right: 5px solid rgba(33, 33, 33, .33);
        border-left: 0;
    }
    #logo{
        position: relative;
        z-index: 11;
        width: 250px;
        height: 150px;
        top: 15px;
        left: 50px;
        border: 1px solid rgb(215, 241, 193);
        border-radius: 15%;
    }
main{
    width: 100%;
    min-height: 650px;
}
    main a{
        color: #333;
    }
    #left{
        width: calc(70% - 100px);
        height: 550px; /* orig 650px */
        padding: 50px;
        background: #999;
        float: left;
    }
    #newsletterForm{
        width: 90%;
        padding: 20px 0;
        text-align: center;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        margin: 40px auto;
        background: #d5d5d5;
        font-size: 1.3em;
    }
    #age{
        width: 60px;
    }
    #send{
        width: 200px;
    }
    input[type='text']:focus{
        background: #ccc;
    }
    h3{
        color: #555;
        font-family: fantasy;
    }
    #right{
        width: 30%;
        height: 625px; /* orig 650px */
        padding-top: 25px;
        background: #777;
        float: left;
    }
footer{
    width: 100%;
    height: 20px;
    padding: 10px;
    background: #444;
    text-align: center;
    float: left; 
}